@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap'); /*Karakterek nevei*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


.characterName{
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link{
    font-family: "Permanent Marker", serif;
    font-weight: 100;
    font-style: normal;
}

span, button{
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
}

h1{
    font-family: "Fira Sans", serif;
    font-weight: 900;
}

h3, h4, h5, h6{
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-style: normal;
}