#detailsDiv{
  background-color: #1c3042 !important;
  height: 100%;
  max-height: 850px;
  overflow-y: auto;
}

#posterImg{
  height: 850px;
  width: 600px;
  border-radius: 15px;
}

p{
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  #buttonRow{
      height: auto;
  }
}
