@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.bgColor{
  background-color: #393E46;
  color: #EEEEEE !important;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Permanent Marker", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
