@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6{
  font-family: "Permanent Marker", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

p, button, .btn{
 font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: normal;
}
