<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div class="container-xl">
        <div class="row" *ngFor="let row of mainsService.rows">
          <div class="col-lg-4 my-3 d-flex justify-content-center align-items-center" *ngFor="let character of row">
            <app-card [@cardLoading] [character]="character"></app-card>
            <app-side-bar [@showDetails] [character]="character" *ngIf="character.showSideBar"></app-side-bar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-lg-12">
      <app-button-row></app-button-row>
    </div>
  </div> -->
</div>
