<div class="container-fluid" id="footerContainer">

  <div class="row my-3" *ngIf="main.actualPageName == 'characters'">
    <div class="col-lg-12">
      <app-button-row></app-button-row>
    </div>
  </div>

  <!-- Informaciok: -->
  <div class="row mt-3">
      <div class="col-lg-12">
        <p class="text-center m-0"><a href="https://pokeapi.co/docs/v2" target="_blank" class="text-decoration-none"><span class="fw-bold">Source:</span> Rick and Morty API</a></p>
      </div>
  </div>

  <!-- Keszito sora: -->
  <div class="row">
      <div class="col-lg-12 p-0 mb-2">
          <p class="m-0 text-center"><span class="fw-bold">Made by:</span> Bence Halmai</p>
          <p class="text-center m-0">
              <span class="fw-bold">Contacts:</span>
              <a class="mx-1" target="_blank" href="https://github.com/Hbence10"><i class="fa-brands fa-github"></i></a>
              <a class="mx-1" target="_blank" href="https://www.facebook.com/halmai.bence.5?locale=hu_HU"><i class="fa-brands fa-facebook-f"></i></a>
              <a class="mx-1" target="_blank" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"><i class="fa-brands fa-linkedin"></i></a>
              <a class="mx-1" target="_blank" href="#"><i class="fa-solid fa-envelope"></i></a>
          </p>
      </div>
  </div>
</div>
