<div class="container-fluid my-3">

  <!-- Keszito sora: -->
  <div class="row mt-4 mb-2">
      <div class="col-lg-12">
          <p class="m-0 text-center"><span class="fw-bold">Made by:</span> Bence Halmai</p>
          <p class="text-center m-0">
              <span class="fw-bold">Contacts:</span>
              <a class="mx-1 footerLink text-white" target="_blank" href="https://github.com/Hbence10"><i class="fa-brands fa-github"></i></a>
              <a class="mx-1 footerLink text-white" target="_blank" href="https://www.facebook.com/halmai.bence.5?locale=hu_HU"><i class="fa-brands fa-facebook-f"></i></a>
              <a class="mx-1 footerLink text-white" target="_blank" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"><i class="fa-brands fa-linkedin"></i></a>
              <a class="mx-1 footerLink text-white" target="_blank" routerLink=""><i class="fa-solid fa-envelope"></i></a>
          </p>
      </div>
  </div>
</div>
